*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(image/bg.jpg);
    background-attachment: fixed;
}

h1{
    margin: 1.5rem;
    font-size: 2.4rem;
}

input{
    width: 200px;
    height: 30px;
    text-align: center;
    border: solid 2px black;
    font-size: 1.5rem;
}
input:hover{
    border: solid 2px rgb(43, 43, 211);
}
#main{
    width: 270px;
    height: 80px;
    background: rgb(224, 224, 224);
    border: 2px solid black;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    text-align: center;
}

.explain{
    width: 500px;
    height: 410px;
    background: rgb(196, 196, 196);
    border: 2px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sub-explain:hover{
    background: white;
}

.sub-explain{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-radius: 10px;
}
.sub-explain p{
    font-size: 1.5rem;
}
.img-signo{
    width: 55px;
    height: 55px;

}
.img-signo2{
    width: 30px;
    height: 30px;
}
.confirm{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}